body {
  max-width: 320px;
  margin: auto;
  background: white;
}

img {
  display: block;
  max-width: 100%;
  
}

h1, h2, h4 {
  text-align: center;
}

.blue {
  background-color: #CFECCF;
  color: #2D2D2D;
}

.grey {
  background-color: #2D2D2D;
  color: #CFECCF;
}

footer p {
  text-align: center;
}


